@charset "UTF-8";
@import "./animate";

//args
$color_scheme: #181c1f;
$color_primary:#ee674c;
$color_cool:#f5f6fb;
$c-333: #333;
$c-666: #666;
$c-999: #999;
$borderColorE6: #e6e6e6;
$borderRadius: 5px;
$static_path: '';
$borderColor: #e6e6e6;

//flex
.box{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-wrap:nowrap;-ms-flex-wrap:nowrap;flex-wrap:nowrap}
.box-lr{-webkit-box-direction:normal;-webkit-box-orient:horizontal;-moz-flex-direction:row;-webkit-flex-direction:row;flex-direction:row}
.box-rl{-webkit-box-pack:end;-webkit-box-direction:reverse;-webkit-box-orient:horizontal;-moz-flex-direction:row-reverse;-webkit-flex-direction:row-reverse;flex-direction:row-reverse}
.box-tb{-webkit-box-direction:normal;-webkit-box-orient:vertical;-moz-flex-direction:column;-webkit-flex-direction:column;flex-direction:column}
.box-bt{-webkit-box-pack:end;-webkit-box-direction:reverse;-webkit-box-orient:vertical;-moz-flex-direction:column-reverse;-webkit-flex-direction:column-reverse;flex-direction:column-reverse}
.box-pack-center{-webkit-box-pack:center;-moz-justify-content:center;-webkit-justify-content:center;justify-content:center}
.box-pack-start{-webkit-box-pack:start;-moz-justify-content:flex-start;-webkit-justify-content:flex-start;justify-content:flex-start}
.box-pack-end{-webkit-box-pack:end;-moz-justify-content:flex-end;-webkit-justify-content:flex-end;justify-content:flex-end}
.box-pack-between{-webkit-box-pack:justify;-moz-justify-content:space-between;-webkit-justify-content:space-between;justify-content:space-between}
.box-align-center{-webkit-box-align:center;-moz-align-items:center;-webkit-align-items:center;align-items:center}
.box-align-start{-webkit-box-align:start;-moz-align-items:start;-webkit-align-items:flex-start;align-items:flex-start}
.box-align-end{-webkit-box-align:end;-moz-align-items:end;-webkit-align-items:flex-end;align-items:flex-end}
.self-align-center{align-self:center;-webkit-align-self:center;margin:0 auto}
.self-align-start{align-self:flex-start;-webkit-align-self:flex-start}
.self-align-end{align-self:flex-end;-webkit-align-self:flex-end}
.self-align-stretch{align-self:stretch;-webkit-align-self:stretch}
.box-wrap{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
.box-nowrap{-webkit-flex-wrap:nowrap;-ms-flex-wrap:nowrap;flex-wrap:nowrap}
.flex{-moz-flex-grow:1;-webkit-flex-grow:1;flex-grow:1}


page {

  font-size:30rpx;
  color: $c-333;
  //font-size: 32.8125rpx;
  //width: 100%;
  box-sizing: border-box;
  height:100%;
  //overflow-x: hidden;
}

.app{
  .ele-container {
    z-index:1;
    width:100%;
    max-width:100%;
    box-sizing: border-box;
    overflow-x: hidden;
    clear:both;
  }

}
.pdbm100{
  padding-bottom:100rpx;
}


.page {
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  &.dialog-page {
    position: absolute!important;
    .shadow {
      height: 150%;
      z-index: 1;
    }
  }
}
a {
  color: inherit;
}

.blank20{
  width:100%;
  height:20rpx;
  box-sizing: border-box;
  overflow: hidden;
  background-color:$color_cool;
}
.bg-color{
  background-color: $color_cool;
}
.c-fff{
  color:#fff;
}
.c-ccc{
  color:#ccc;
}
.bg-mianColor{
  background-color: $color_scheme;
}
.plt24{padding-left:24rpx;}

.ft-nowap{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  font-size: 0;
}

/* loading */
.loading-container{
  text-align: center;
  padding-top:30rpx;
  .loading-gif {
    display: inline-block;
    width: 40rpx;
    height: 40rpx;
    image{
      width:100%;
      height:100%;
    }
  }
  .loading-text{
    display: inline-block;
    font-size:24rpx;
    color:#999;
    margin-left:16rpx;
  }
}

//empty-box
.content-box-empty {
  padding-top: 180rpx;
  text-align: center;
  color: $c-999;
  .pic{
    width:371rpx;
    height:371rpx;
    margin:0 auto;
    image{
      width:100%;
      height:100%;
      display: block;
      vertical-align: top;
    }
  }
  .msg {
    font-size:30rpx;
    margin-bottom:28rpx;
  }
  .tip {
    font-size: 24rpx;
  }
}

//tabBar
.tabBar{
  width:100%;
  box-sizing: border-box;
  position: fixed;
  bottom:0;
  padding:0 24rpx;
   height:98rpx;
  border-top:1rpx solid $borderColorE6;
  background-color: #fff;
  .item{
    padding-top:10rpx;
    width:140rpx;
    display: table;
    text-align: center;
    .cont{
      display: table-cell;
      vertical-align: middle;
      .pic{
         width:49rpx;
         height:45rpx;

        display: inline-block;
        image{
          width:100%;
          height:100%;
          display: block;
        }
      }
      .text{
        font-size:22rpx;
        color:$c-999;
        &.on{
          color:$color_scheme;
        }
      }
    }
  }
}


//wux toast
.weui-toast{
  position:fixed;
  z-index:100;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  .weui-toast__content {
    width:auto;
    height:auto;
    padding: 26rpx;
    border-radius: 10rpx;
    background:none;
    background-color: rgba(0,0,0,.65);
    color: #fff;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 30rpx;
  }
}

//detail-loading
.detailLoading{
  position:fixed;
  z-index:100;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  .loading-gif{
    width:50rpx;
    height:50rpx;
    image{
      width:100%;height:100%;
    }
  }
}
