@charset "UTF-8";
@import "./common";

.banner{
  display: block;
  width:100%;
  //height: 376rpx!important;
  .slide-image{
    display: block;
    width:100%;
    //height:376rpx!important;
    //overflow: hidden;
  }
}

//index
.index{

  .index_search_bar{
    position: relative;
    padding:20rpx 24rpx;
    .search-box{
      width: 100%;
      height: 58rpx;
      line-height:  58rpx;
      background: #5e6163;
      border-radius: 29rpx;
      font-size: 26rpx;
      color:#fff;
      .text-box{
        text-align: center;
      }
      .iconfont{
        font-size: 30rpx;
         vertical-align: middle;
        margin-right:10rpx;
      }

      .input-container {
        line-height: 58rpx;
        >view {
          position: relative;
          padding:0 60rpx;
        }
        input {
          display: block;
          height: 58rpx;
        }
        .icon-sousuo {
          position: absolute;
          color: #ccc;
          left: 24rpx;
          top: 0;
        }

      }
    }

  }
  .banner{
    height: 376rpx!important;
    .slide-image{
      display: block;
      height: 100%;
      width:100%
    }
  }

  .index-nav{
      padding:30rpx 35rpx;
      .item{
        text-align: center;
        image{
          width:80rpx;
          height:80rpx;
          margin-bottom:0;
        }
        text{
          display: block;
          font-size: 24rpx;
          color:#666;
        }
      }
  }

  .cells_auto_fill{
    image{
      width: 100%;
      height: 100%;
      display:block;
      vertical-align: top;
    }
    .item{
      width:370rpx;
      height:260rpx;
      margin-right:16rpx;
      &:last-child{
        margin-right:0;
      }
    }
    .body{
      margin-top:16rpx;
      width:750rpx;
      height:260rpx;
    }
  }

  .f-list{
    -webkit-flex-flow:row wrap;
    flex-flow:row wrap;
    .item{
      width:370rpx;
      margin-right:10rpx;
      box-sizing: border-box;
      overflow: hidden;
      &:nth-child(2n){
        margin-right:0;
      }
      .pic{
        width:370rpx;
        height:250rpx;
        position: relative;
        image{
          width: 100%;
          height: 100%;
          display: block;
          vertical-align: top;
        }
        .tag{
          position: absolute;
          top:-2rpx;
          left:0;
          text{
            display: inline-block;
            height:36rpx;
            line-height: 36rpx;
            color:#fff;
            font-size: 24rpx;
            padding: 0 10rpx;
            background-color: $color_primary;
            border-bottom-right-radius: 10rpx;
          }
        }
      }
      .info{
        padding:30rpx 24rpx 40rpx;
        .name{
          font-size:30rpx;
          color:$c-333;
        }
        .brief{
          margin-top:10rpx;
          font-size: 24rpx;
          color:$c-999;
          height:30rpx;
          line-height: 30rpx;
        }
        .price{
          display: inline-block;
          font-size: 30rpx;
          color: $color_primary;
          margin-top: 20rpx;
          position: relative;
          white-space: nowrap;
          width: 100%;
          .old{
            display: inline-block;
            margin-left: 12rpx;
            font-size: 24rpx;
            color: #999999;
            text-decoration: line-through;
          }
          .sc{
            position: absolute;
            bottom:-10rpx;
            right:-10rpx;
            font-size: 24rpx;
            padding:10rpx;
            color: #999999;
          }
        }
      }
    }
  }

  //search bar
  .__search-bar {
    background: #efefef;

    &.focused {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 100;
    }

    .search-unclick {
      padding-top: 30rpx;
      padding-bottom: 30rpx;
      .unclick-text {
        background: #fff;
        border-radius: $borderRadius;
        line-height: 60rpx;
        height: 60rpx;
        font-size: 24rpx;

      }
    }

    .search-box {
      .input-container {
        background: #fff;
        border-bottom: 1px solid #e1e1e1;
        font-size: 28rpx;
        line-height: 60rpx;
        padding-top: 15rpx;
        padding-bottom: 15rpx;
        >view {
          position: relative;
          padding-left: 44rpx;
          padding-right: 150rpx + 10rpx;
        }
        input {
          display: block;
          height: 60rpx;
        }
        .icon-sousuo {
          position: absolute;
          color: #ccc;
          left: 0;
          top: 0;
        }
        .icon-close {
          position: absolute;
          color: #bfbfbf;
          padding: 10rpx;
          right: 118rpx - 10rpx;
          top: 0 - 10rpx;
        }
        .search-cancel {
          height: 60rpx;
          padding: 15rpx 0;
          position: absolute;
          right: -24rpx;
          top: -15rpx;
          text {
            border-left: 1px solid #dfdfdf;
            height: 60rpx;
            padding-left: 33rpx;
            padding-right: 34rpx;
          }
        }
      }
    }


    .search-nav{position:relative;width: 100%; height: 90rpx; overflow: hidden;  background: #fff; border-bottom: 1px solid $borderColorE6;
      .nav-slide{ float: left; width:85%;height:100%;font-size: 30rpx;  background: #fff;overflow: hidden;
        .ul{ overflow-y: hidden;overflow-x: scroll; white-space: nowrap;padding:28rpx 24rpx;margin:0  auto;
          .li{display: inline-block; width:auto!important;height:auto!important;
            text{display: inline-block; color: #333; padding:0 24rpx; }
            &.on{text{color:#fff; background-color: $color_scheme;border-radius: 26rpx;}}
          }
        }
      }
      .search-btn{ position: absolute;top:0;right:0;width:90rpx;height: 90rpx; line-height: 90rpx;
        -webkit-box-shadow:0 0 40px rgba(0,0,0,.2);
        box-shadow:0 0 40px rgba(0,0,0,.2);
        //z-index-old: 2;
        font-size: 44rpx;
        background: #fff;
        color:$c-666;
        text {
          vertical-align: middle;
          float: right;
          display: block;
          color:$c-666;
          padding-right:15rpx;
          padding-top:15rpx;
        }
        .icon-sousuo {

          line-height: 60rpx;
          color: #ccc;
          margin: 0 12rpx 0 20rpx;
        }
      }
    }

  }

  //tongji
  .tongji{
    color: #666;
    width:100%;
    height: 66rpx;
    font-size: 24rpx;
    background: $color_cool;
    border-bottom: 1rpx solid $borderColorE6;
    >view{
      height:100%;
      padding:0rpx 24rpx;
    }
    >text{
      display: inline-block;
    }
    .fr{
      display: inline-block;
      padding: 0 10rpx;
      height:50rpx;
      line-height: 50rpx;
      background-color: $color_scheme;
      color:#fff;
    }
    .iconfont{
      font-size: 24rpx;
      color:#fff;
      margin-left:10rpx;
    }
  }

}

//find
.find{
  padding:0 24rpx 0;
  height:100%;
  .find_list{
    .item{
       padding-top:20rpx;
      .pic{
        width:702rpx;
        height:360rpx;
        image{
          width:100%;
          height:100%;
          display:block;
          vertical-align: top;
        }
      }
      .info{
         height:120rpx;
         font-size:32rpx;
         color:$c-333;
        background-color: #fff;
        .tag{
          display: inline-block;
          height:40rpx;
          line-height: 40rpx;
          padding:0 10rpx;
          color:#fff;
          background-color:$color_primary;
          font-size:24rpx;
          border-radius: 4rpx;
          margin-right:16rpx;
          vertical-align: middle;
        }
      }
    }
  }
}

//case
.case{
  padding:20rpx 24rpx 0 24rpx;
  height:100%;
  .case_list{
    -webkit-flex-flow:row wrap;
    flex-flow:row wrap;
    .item{
      margin-bottom:10rpx;
      width:344rpx;
      margin-right:14rpx;
      &:nth-child(2n){
        margin-right:0;
      }
      .pic{
        width:344rpx;
        height:170rpx;
        image{
          width:100%;
          height:100%;
          display: block;
          vertical-align: top;
        }
      }
      .info{
        background-color: #fff;
        padding:20rpx;
         font-size:28rpx;
         color:$c-333;
        height:60rpx;
        line-height: 38rpx;
        overflow: hidden;
      }
    }
  }
}

//my
.my{
  .user-box {
    width: 750rpx;
    height: 396rpx;
    position: relative;
    image{
      width:100%;
      height:100%;
      display: block;
      vertical-align: top;
    }
    .bg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
    }
    .user-info {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index:10;
      .userimg{
        width:178rpx;
        height:178rpx;
        position: relative;
        margin:70rpx auto 24rpx;
        padding:8rpx;
        border-width: 8rpx;
        border-radius: 50%;
        background-color: rgba(255, 255, 255,0.2);
        .logo{
          width:170rpx;
          height:170rpx;
          display: block;
          position: relative;
          z-index: 100;
          image{
            border-radius: 50%;
          }
        }
      }
      .usename{
        font-size:34rpx;
        position: relative;
        color:#7a7a89;
      }
    }
  }
  .card-box{
    margin-top:10rpx;
    -webkit-flex-flow:row wrap;
    flex-flow:row wrap;

    .item{
      text-align: center;
      width:370rpx;
      height:350rpx;
      margin-right:10rpx;
      margin-bottom:10rpx;
      display: table;

      &:nth-child(2n){
        margin-right:0;
      }
      .content{
        display: table-cell;
        vertical-align: middle;
        .pic{
          width:88rpx;
          height:88rpx;
          display:inline-block;
          image{
            width:100%;
            height:100%;
            vertical-align: top;
          }
        }
        .info{
          margin-top:20rpx;
          font-size:28rpx;
        }
        &.jianjie{
          background-color: #ffa9c9;
          .info{
            color:#700020;
          }
        }
        &.contact{
          background-color: #ffd46f;
          .info{
            color:#ff7a00;
          }
        }
        &.order{
          background-color: #8fd5fc;
          .info{
            color:#004889;
          }
        }
        &.collect{
          background-color: #72e3bf;
          .info{
            color:#004c34;
          }
        }
      }
    }

  }
}

//detail
.detail{
  padding-bottom:100rpx;

  .titleView{
    padding:24rpx;
    .name{
      font-size:32rpx;
      color:$c-333;
    }
    .desc{
      font-size:24rpx;
      color:$c-999;
    }
    .price{
      display: inline-block;
      font-size: 30rpx;
      color: $color_primary;
      margin-top: 20rpx;
      position: relative;
      white-space: nowrap;
      .old{
        display: inline-block;
        margin-left: 12rpx;
        font-size: 24rpx;
        color: #999999;
        text-decoration: line-through;
      }
    }
  }

  .descTabsView{
    .tabs{
      width: 100%;
      height: 88rpx;
      font-size: 28rpx;
      color: $c-999;
      border-bottom: 1px solid $borderColorE6;
      .tab{
        box-flex: 1;
        -webkit-box-flex: 1;
        flex: 1;
        -webkit-flex: 1;
        display: inline-block;
        height:100%;
        text-align: center;
        line-height: 88rpx;
        border-right: 1px solid $borderColorE6;
        &:last-child{
          border-right:0;
        }
        &.on{
          color:$color_primary;
        }
      }
    }
    .tabs-views{
      .views{
        .table{
          text-align: left;
          font-size:28rpx;
          box-sizing: border-box;
          margin:40rpx 24rpx;
          border:1rpx solid $borderColorE6;
          .tbody{
            border-color: inherit;
            width:100%;
            .tr{
              border-top:1rpx solid $borderColorE6;
              color: $c-999;
              width:100%;
              &:first-child{
                border-top:0;
              }
              .th{
                padding:27rpx 60rpx;
                width:114rpx;
                word-break: break-all;
                border-right:1rpx solid $borderColorE6;
                text-align: left;
              }
              .td{
                padding:27rpx 60rpx;
                width:342rpx;
                word-break: break-all;
                text-align: left;
              }
            }
          }
        }
        .imgText_list{
          padding:20rpx 24rpx;
          line-height: 38rpx;
        }
      }
    }
  }

  .product-footer{
    position: fixed;
    width:100%;
    //height:100rpx;
    bottom:0;
    left:0;
    right:0;
    text-align: center;
    font-size:32rpx;
    background-color: #fff;
    .a{
      display: inline-block;
      border-top:1rpx solid $borderColorE6;
      width:100rpx;
      line-height: 90rpx;
      text-align: center;
      .iconfont{
        padding-top:16rpx;
        image{
          width:47rpx;
          height:45rpx;
          display: block;
          margin:0 auto;
        }
      }
    }
    .btn{
      display: inline-block;
      width:325rpx;
      line-height: 100rpx;
      text-align: center;
      color:#fff;
      &.contactShop{
        background-color: #f17d65;
      }
      &.buyNow{
        background-color: $color_primary;
      }
    }
  }
}

//article
.article{
     padding:0 24rpx;
    .articleIndex-header{
      padding:30rpx 0;
      .title{
        text-align: center;
        font-size:36rpx;
        color:#333;
        line-height: 44rpx;
        font-synthesis: style;
      }
      .author-box{
        margin-top:10rpx;
        font-size:24rpx;
        color:$c-999;
        line-height: 44rpx;
        .author{
          max-width:60%;
        }
        .bull{
          margin:0 12rpx;
        }
      }
    }
}


//order
.order{
  .order_list{
    padding-left:24rpx;
    .item{
      padding:24rpx 24rpx 24rpx 0;
      border-bottom:1rpx solid $borderColorE6;
      .pic{
        width:200rpx;
        height:150rpx;
        margin-right:20rpx;
        image{
          width:200rpx;
          height:150rpx;
          display: block;
          vertical-align: top;
        }
      }
      .info{
        position: relative;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        height:150rpx;
        overflow: hidden;
        .title{
          font-size:28rpx;
          color:$c-333;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        }
        .desc{
          position: absolute;
          bottom:0;
          width:100%;
          .price{
            color:$color_primary;
            font-size:32rpx;
            position: absolute;
            left:0;
            bottom:0;
          }
          .tag{
            position: absolute;
            right:0;
            bottom:0;
            color:$color_scheme;
            font-size:24rpx;
            padding:0 20rpx;
            height:40rpx;
            line-height: 40rpx;
            border:1rpx solid $color_scheme;
            border-radius: 28rpx;
          }
        }
      }
    }
  }
}

//brief
.brief{
  .banner{
    width: 100%;
    height:360rpx;
    image{
      width:100%;
      height:100%;
      display: block;
      vertical-align: top;
    }
  }

  .com-info{
    padding:30rpx 24rpx ;
     .hd{
       position: relative;
       padding:30rpx 20rpx;
       font-size:30rpx;
       color:$c-333;
       &::before{
         left: 0;
         top:38rpx;
         content: '';
         width: 5rpx;
         height: 30rpx;
         border-radius: 8rpx;
         background-color: $color_scheme;
         position: absolute;
       }
     }
    .bd{
      .p{
        font-size:28rpx;
        color:$c-999;
        line-height: 44rpx;
      }
      .ScodeImg{
        margin:0 auto;
        width:315rpx;
        height:315rpx;
        border: 1rpx solid $borderColorE6;
        image{
          display: block;
          width:280rpx;
          height:280rpx;
          vertical-align: middle;
        }
      }
    }
  }
}

//add_order
.add_order{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .plt24{
    .row{
      padding-left:0;
      .col-t{
        color: #333;
        font-size:30rpx;
      }
    }
  }
  .line {
    display: block;
    line-height: 98rpx;
    height: 98rpx;
    border-bottom: 1px solid $borderColor;
    vertical-align: middle;
    position: relative;
    &.nbtm{
      border-bottom: 0;
    }
    label {
      width: 100rpx;
      height: 98rpx;

      position: absolute;
      left: 0rpx;
      top: 0;
      color: #333;
      font-size:30rpx;
    }
    .xing{
      height:98rpx;
      display: inline-block;
      margin-right:60rpx;
    }
    .input, input,.raDio {
      height: 98rpx;
      display: inline-block;
      vertical-align: middle;
      &.longinput{
        width:400rpx;
      }
      &.shortinput{
        width:80rpx;
      }
    }
    .ml100{
      display: inline-block;
      margin-left: 100rpx;
    }
    .w300{
      width:600rpx;
    }


    .switchSize{
      text-align: right;
      position: absolute;
      top: 0;
      right:0;
      transform:scale(.7);
    }


    &.longlab{
      label{
        width:200rpx;
      }
      .raDio{
        margin-left:200rpx;
        .radioSize{
          transform:scale(.6);
        }
      }
    }

  }

  .big-btn{
      position: fixed;
      bottom:0;
      box-sizing:border-box;
      width:100%;
      padding:0;
      -webkit-box-shadow:0px -4px 4px rgba(0,0,0,.038);
      box-shadow: 0px -4px 4px rgba(0,0,0,.038);
      .btnBaoBei{
        width:100%;
        height:88rpx;
        background-color: $color_primary;
        color:#fff;
        font-size:34rpx;
        border-radius: 0;
      }
      &.no-fixed{
        position: relative;
        margin-top:50rpx;
        box-shadow:none;
        -webkit-box-shadow:none;
      }
    }

}

