/*
Error: Invalid CSS after "      &:margin": expected "{", was "}"
        on line 50 of D:\Works\extra\ztenst\mall_beilai\mall_beilai\style\main.scss

45:     .item{
46:       width:370rpx;
47:       height:260rpx;
48:       margin-right:10rpx;
49:       &:margin
50:     }
51:     .body{
52:       margin-top:10rpx;
53:       width:750rpx;
54:       height:260rpx;
55:     }

Backtrace:
D:\Works\extra\ztenst\mall_beilai\mall_beilai\style\main.scss:50
D:/Software/koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1278:in `expected'
D:/Software/koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1208:in `expected'
D:/Software/koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1203:in `tok!'
D:/Software/koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:677:in `block'
D:/Software/koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
D:/Software/koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:697:in `block_child'
D:/Software/koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:689:in `block_contents'
D:/Software/koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:678:in `block'
D:/Software/koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
D:/Software/koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:697:in `block_child'
D:/Software/koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:689:in `block_contents'
D:/Software/koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:678:in `block'
D:/Software/koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
D:/Software/koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:697:in `block_child'
D:/Software/koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:689:in `block_contents'
D:/Software/koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:678:in `block'
D:/Software/koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:670:in `ruleset'
D:/Software/koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:696:in `block_child'
D:/Software/koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:689:in `block_contents'
D:/Software/koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:137:in `stylesheet'
D:/Software/koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:41:in `parse'
D:/Software/koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:414:in `_to_tree'
D:/Software/koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
D:/Software/koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
D:/Software/koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
D:/Software/koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
D:/Software/koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
D:/Software/koala/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
D:/Software/koala/Koala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
D:/Software/koala/Koala/bin/sass:22:in `load'
D:/Software/koala/Koala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"      &:margin\": expected \"{\", was \"}\"\A         on line 50 of D:\Works\extra\ztenst\mall_beilai\mall_beilai\style\main.scss\A \A 45:     .item{\A 46:       width:370rpx;\A 47:       height:260rpx;\A 48:       margin-right:10rpx;\A 49:       &:margin\A 50:     }\A 51:     .body{\A 52:       margin-top:10rpx;\A 53:       width:750rpx;\A 54:       height:260rpx;\A 55:     }"; }
